* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191919;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    margin: 0 20px;
}

.gallery {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
    display: none; 
}

.image-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    flex: none;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: transform 0.5s ease, filter 0.5s ease; 
}

.image-container img:hover {
    filter: grayscale(0);
    transform: scale(1.05); 
}

.gallery-wrap .scroll-button {
    width: 50px;  
    height: 50px;
    padding: 5px;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 18px; 
}

.gallery-wrap .scroll-button:hover {
    background: #734b4b;
    color: #fff; 
}